@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { 
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lexend Mega', sans-serif;
  background: #f2f5f2;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.navbar .navbar-logo {
    padding: 0 0 0 20px;
}

.navbar .navbar-logo h3{
    font-size: 30px;
}

.navbar .navbar-menu {
    display: flex;
    gap: 30px;
    padding: 0 20px 0 0;

}

.navbar .navbar-menu a{
    text-decoration: none;
    padding: 10px;
    color: #000;
}

.navbar .navbar-menu .button-reach {
    border: 1px solid #000;
    position:relative;
    background: #fff;
}

.navbar .navbar-menu .button-reach:after{
    content:'';
    position:absolute;
    background-color:#000;
    top:8px;
    left:8px;
    right:-8px;
    bottom:-8px;
    z-index:-1;
}

.navbar .navbar-menu .menu:hover {
    border-bottom: 2px solid #000;
}

.navbar .navbar-menu .button-reach:hover {
    background: #2fff2f;
}

/* end navbar */

/* hero */

.hero {
    margin: 150px 30px;
    height: 50vh;
}

.hero .hero-text {
    padding-left: 50px;
}

.hero .hero-text h5{
    font-size: 20px;
    margin: 0;
}

.hero .hero-text h3{
    font-size: 50px;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    letter-spacing: 5px;
}

.hero .hero-text h3 span{
    color: #3300ff;
    letter-spacing: 3px;
}

.hero .hero-text p{
    font-size: 20px;
    margin: 0 0 30px 0;
}


.hero .hero-text .button-about {
    text-decoration: none;
    padding: 10px 30px;
    color: #000;
    border: 1px solid #000;
    position:relative;
    background: #ffff00;
}

.hero .hero-text .button-about:after{
    content:'';
    position:absolute;
    background-color:#000;
    top:8px;
    left:8px;
    right:-8px;
    bottom:-8px;
    z-index:-1;
}

/* end hero */

/* about */

.about-me-section {
    margin: 0 100px 100px 100px;
}

.about-me {
    display: flex;
    gap: 50px;
}

.about-me .small-card {
    padding: 20px;
    border: 1px solid #000;
    background: #fff;
    position:relative;
    min-width: 40vh;
}

.about-me .small-card:after{
    content:'';
    position:absolute;
    background-color:#000;
    top:8px;
    left:8px;
    right:-8px;
    bottom:-8px;
    z-index:-1;
}

.about-me .small-card ul{
    /* list-style-image: url('assets/star.png'); */
}

.about-me .about-me-card {
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
    position:relative;
    max-width: 130vh;
    line-height: 2rem;
}

.about-me .about-me-card:after{
    content:'';
    position:absolute;
    background-color:#000;
    top:8px;
    left:8px;
    right:-8px;
    bottom:-8px;
    z-index:-1;
}

/* end about */

/* project */

.project-section {
    margin: 100px;
}

/* end project */

/* reach me */

.reach-me-section {
    margin: 100px;
}

.reach-me-section .reach-me-card {
    border: 1px solid #000;
    /* display: inline-block; */
    background: #fff;
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .reach-me-section .reach-me-card:after{
    content:'';
    position:absolute;
    background-color:#000;
    top:8px;
    left:8px;
    right:-8px;
    bottom:-8px;
    z-index:-1;
} */

.reach-me-section .reach-me-card .reach-me-link {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reach-me-section .reach-me-card .reach-me-link ul{
    list-style: none;
    text-align: center;
}


.reach-me-section .reach-me-card .reach-me-link ul li{
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #000;
    box-shadow: 0.8vmin 0.8vmin #000;
    width: 200px;
}

.reach-me-section .reach-me-card .reach-me-link ul li:nth-child(1) {
    background: #ffff00;
}

.reach-me-section .reach-me-card .reach-me-link ul li:nth-child(2) {
    background: #2fff2f;
}


.reach-me-section .reach-me-card .reach-me-link ul li a{
    text-decoration: none;
}

/*end reach me */


/* footer */

.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #000;
    background-color: #fff;
}

.footer p {

}

/* end footer */